body {
    background-color: rgb(255, 255, 255);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: fantasy;
    text-decoration: underline;
    background-color: #D1981D;
    color: #111111;
}

p {
    font-family: fantasy;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
}

#center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.select {
    background-color: #A36026;
}

#nav {
    justify-content: space-around;
}

.btn-text {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    text-align: center;
}

.select:hover {
    background-color: #832002;
}

.smol {
    font-size: 20px;
}

#dropdown1 li {
    font-size: 16px;
    color: #111111;
    display: block;
    line-height: 22px;
    padding: 14px 16px
}

.card-container {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

.btn-bottom {
    display: block;
}

div.card-content {
    background-color: #111111;
}

.card .card-reveal {
    background-color: #111111;
    color:white;
}


@media only screen and (min-width: 993px) {
    #card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 12ch;
    }
}

@media only screen and (min-width: 601px) {
    #card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 15ch;
    }
    
    #divider {
        display: none;
    }
}

.drink-image{
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
}

h5{
    text-align: center;
    padding-bottom: 5%;
}

footer {
margin-top: 3%;
      }

.page-footer {
    background-color:#D1981D;
    color: #111111;
    font-family: fantasy;
}
