body {
    background-color: #e1dcd0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   }
   
   main {
    flex: 1 0 auto;
   }
   
   h1 {
    font-family: 'Audiowide', sans-serif;
    text-decoration: underline;
    background-color: #d1981d;
    color: #111111;
   }
   
   p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   
   .movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    height: auto;
   }
   
   #full-card {
    min-width: 285px;
    max-width: calc(25% - 15px);
   }
   
   .card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
   }
   
   #center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   
   .select {
    background-color: #a36026;
   }
   
   .btn-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
   }
   
   .select:hover {
    background-color: #832002;
   }
   
   .smol {
    font-size: 20px;
   }
   
   .card {
    margin: 0px;
   }
   
   .btn-bottom {
    display: block;
   }
   
   div.card-content {
    background-color: #111111;
   }
   
   .card .card-reveal {
    background-color: #111111;
    color: white;
   }
   
   .row .col.m5 {
    margin-left: 0;
   }
   
   @media only screen and (min-width: 993px) {
    #card-title {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 12ch;
    }
   }
   
   @media only screen and (min-width: 601px) {
    #card-title {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 15ch;
    }
   
    #divider {
     display: none;
    }
   }
   
   .modal-content .modal-footer {
    background-color: #000000;
   }
   
   #drink-container.container {
    background-color: #e1dcd0;
    padding: 50px;
   }
   
   .drink-image {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
   }
   
   h5 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #111111;
    font-style: italic;
    font-size: 40px;
   }
   
   .drink-text {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   footer {
    margin-top: 3%;
   }
   
   .page-footer {
    background-color: #d1981d;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
   }